// Header

.header {
  border-bottom: 1px solid #ececec;

  @media screen and (max-width: 767px) {
    position: relative;
    min-height: 60px;
    align-items: center;
  }


}

.site-nav__container {
  display: flex;
  align-items: center;
  padding: 10px 0;

  // @media screen and (min-width: 768px) and (max-width: 1199px) {
  //   justify-items: center;
  // }
}


.logo__header {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #000000;

    @media screen and (max-width: 767px) {
      text-align: left;
      // padding-top: 16px;
      // padding-bottom: 16px;
      margin: 0;
      @include font(24px, 1.16, 700);
      
    }   

         @media screen and (min-width: 768px) and (max-width: 1199px) {
          //  margin-right: 88px;
          align-self: start;
          @include font(24px, 1.16, 400);
         }
}

