// Header

.header {
  border-bottom: 1px solid #ececec;

  @media screen and (max-width: 767px) {
    position: relative;
    min-height: 60px;
    align-items: center;
    padding: 10px 0;
    
  }


}

.site-nav__container {
  display: flex;
  align-items: center;


  // @media screen and (min-width: 768px) and (max-width: 1199px) {
  //   justify-items: center;
  // }
}


.logo__header {
    margin-right: 93px;
   
    color: #000000;

    @media screen and (max-width: 767px) {
      text-align: left;
      margin: 0;
      @include font(24px, 1.16, 700);
      
    }   

         @media screen and (min-width: 768px)  {
         padding: 24px 0;
          align-self: start;
          @include font(24px, 1.16, 400);
         }
}

