// Logo

.logo {
  @extend %logo;


  &__effect {
    color: $accent-color;
  }

  &:hover {
    color: $accent-color;
  }

  &:focus {
    color: $accent-color;
  }
}

.logo__effect,
.logo {
  font-family: Raleway, cursive ;
  font-size: 24px;
  line-height: 1.16; 
}