$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$additional-background-color: #2f303a;
$main-white-color: #ffffff;
$passive-button-bg: #f5f4fa;
$additional-text-color: rgba(255, 255, 255, 0.6);
$overlay-bg-color: #c4c4c4;
$passive-link-color: #afb1b8;

$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);


$dFF: 'Roboto', sans-serif;
$sFF: 'Raleway', cursive;

$dLS: 0.03em;
$dFW: 700;




